.hero { padding-top: 24px; }
.hero-introduction { margin-bottom: 24px; }
.hero h1 { margin: 0; font-size: 36px; font-weight: 750; line-height: 1.15; letter-spacing: -.025em; }

@media (max-width: 1000px) {
  .hero h1 { font-size: 32px; }
}

@media (max-width: 650px) {
  .hero h1 { font-size: 28px; }
}
