<a class="skip-link" href="#main">Skip to content</a>
<header class="site-header page-width">
  <a class="wordmark" href="./" aria-label="JustSessions home">
    <img src="./assets/mark.svg" width="34" height="30" alt="">
    <span>JustSessions</span>
  </a>
  <nav aria-label="Main navigation">
    <a class="site-header-guide" href="./guide.html">Guide</a>
    <a class="site-header-help" href="./help.html"><span class="help-icon" aria-hidden="true">?</span> Help</a>
    <a class="button" href="https://github.com/yangzichao/JustSessions/releases/latest/download/JustSessions.dmg" download="JustSessions.dmg"><span>Download<span class="site-header-platform"> for Mac</span></span> <span aria-hidden="true">↓</span></a>
  </nav>
</header>
